@using language_statistic.Models
@model ApplicationUser

@{
    ViewBag.Title = "RegisterCallback";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("RegisterCallback", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Complete your profile.</h4>
    <hr />
    @Html.ValidationSummary(true)
    <div class="row">
        <div class="form-group col-md-6">
            @Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", style = "max-width:100%" })
                @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group col-md-6">
            @Html.LabelFor(m => m.LastName, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", style = "max-width:100%" })
                @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6">
            @Html.LabelFor(m => m.Hometown, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Hometown, new { @class = "form-control", style = "max-width:100%" })
                @Html.ValidationMessageFor(m => m.Hometown, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group col-md-6">
            @Html.LabelFor(m => m.Location, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Location, new { @class = "form-control", style = "max-width:100%" })
                @Html.ValidationMessageFor(m => m.Location, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6">
            @Html.LabelFor(m => m.Birthdate, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Birthdate, new { @class = "form-control", style = "max-width:100%", id = "birthdayPicker" })
                @Html.ValidationMessageFor(m => m.Birthdate, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group col-md-6">
            @Html.LabelFor(m => m.Gender, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.RadioButtonFor(m => m.Gender, "m", new { id = "male_gender", @checked = "checked" })
                @Html.Label("male_gender", "Male") <br />
                @Html.RadioButtonFor(m => m.Gender, "f", new { id = "female_gender" })
                @Html.Label("female_gender", "Female")
                @Html.ValidationMessageFor(m => m.Gender, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="row">
        <input type="reset" style="width:150px;" class="btn btn-default" value="Reset" />
        <input type="submit" style="width:150px;" class="btn btn-default" value="Finish" />
    </div>
}

@section Styles {
    <link rel="stylesheet" href="~/Content/themes/base/jquery.ui.core.css" />
    <link rel="stylesheet" href="~/Content/themes/base/jquery-ui.css" />
    <link rel="stylesheet" href="~/Content/themes/base/jquery.ui.base.css" />
    <link rel="stylesheet" href="~/Content/themes/base/jquery.ui.datepicker.css" />
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
            $.validator.setDefaults({
                highlight: function (element) {
                    $(element).closest(".form-group").addClass("has-error");
                },
                unhighlight: function (element) {
                    $(element).closest(".form-group").removeClass("has-error");
                }
            });
    </script>
    <script src="~/Scripts/jquery-ui-1.10.4.js"></script>
    <script>
        $(function () {
            $('#birthdayPicker').datepicker();
        });
    </script>
}